
$primary-color: #F26724;
$primary-light-color: #48a999;
$primary-dark-color: #004c40;

$secondary-color: #ffc107;
$secondary-light-color: #fff350;
$secondary-dark-color: #c79100;

$text-color-primary: #000;
$text-color-secondary: #fff;

